{% extends 'base.html.twig' %}

{% block title %}La liste des catégories!{% endblock %}

{% block body %}
 
<h1> {{ category.id }} </h1>
<p> {{ category.type }} </p>

<a href="/category_list" class="btn 
btn-dark">Retour</a>

{% endblock %}

{# templates/category/show.html.twig #}