{% extends 'base.html.twig' %}

{% block title %}Modifier une condition {% endblock %}

{% block body %}
 
 {{ form(form) }}

<button  class="btn" href="#"  class="fa fa-close" ></i> Close</button>

 
{% endblock %}


{# templates/category/update.html.twig #}