{% extends 'base.html.twig' %}

{% block title %}La liste des cartes!{% endblock %}

{% block body %}
 
<h1> {{ card.id }} </h1>
<p> {{ card.name }} </p>
<p> {{ card.description }} </p>
<p> {{ card.society.name}} </p>


<a href="/card_list" class="btn 
btn-dark">Retour</a>

{% endblock %}

{# templates/card/show.html.twig #}