{% extends 'base.html.twig' %}

{% block title %}La liste des actualités!{% endblock %}

{% block body %}
 
<h1> {{ news.id }} </h1>
<p> {{ news.name }} </p>
<p> {{ news.date|date("m/d/Y") }} </p>
<p> {{ news.description }} </p>

<a href="/news_list" class="btn 
btn-dark">Retour</a>

{% endblock %}

{# templates/news/show.html.twig #}