{% extends 'base.html.twig' %}

{% block title %}La liste des sociétés!{% endblock %}

{% block body %}

{% if society %}
<h1> Liste des sociétés</h1>
<table class="table table-striped"> 
<thead>
<tr>
<th>id</th>
<th>phone</th>
<th>name</th>
<th>type</th>
<th>website</th>
<th>Actions</th>
</tr>
</thead>

<tbody> 

{% for society in society %}
<tr> 
<td> {{ society }} </td>
<td></td>
<td></td>
<td></td>
<td></td>
<td> <a href="/society/1" class="btn 
btn-dark">Show</a>
</td>
</tr>
 {% endfor %} 
</tbody>
</table>
{% else  %}
<p> La liste des sociétés est vide</p>

 {% endif %}

{% endblock %}
