<div>
<nav class = "navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"  > Enjoy Rennes </a>
  <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "# navbarColor01" aria-controls = "navbarColor01" aria-extended = "false" aria-label = "Toggle navigation ">
    <span class = "navbar-toggler-icon"> </span>
  </button>
    
  <div class = "collapse navbar-collapse" id = "navbarColor01">
    <ul class = "navbar-nav mr-auto">

      <li class = "nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/"> Acceuil <span class = "sr-only"> (actuel) </span> </a>
      </li>
      <li class = "nav-item active">
        <a class="nav-link" href="/society_list"> Sociétés <span class = "sr-only"> (actuel) </span> </a>
      </li>

      <li class = "nav-item">
        <a class="nav-link" href="/address_list"> Adresses</a>
      </li>

      <li class = "nav-item">
        <a class="nav-link" href="/requirement_list"> Conditions</a>
      </li>

      
      <li class = "nav-item">
        <a class="nav-link" href="/help_list"> Aides</a>
      </li>

        <li class = "nav-item">
        <a class="nav-link" href="/news_list"> Actualités</a>
      </li>

      <li class = "nav-item">
        <a class="nav-link" href="/place_list"> Lieux</a>
      </li>

      <li class = "nav-item">
        <a class="nav-link" href="/card_list"> Cartes</a>
      </li>

      <li class = "nav-item">
        <a class="nav-link" href="/category_list"> Catégories</a>
      </li>

      <li class = "nav-item">
        <a class="nav-link" href="/good_plan_list"> Bon plans </a>
      </li>
    </ul>
  <div class="btn-group" role="group" aria-label="Groupe de boutons avec liste déroulante imbriquée">
  <button type="button" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Compte</font></font></button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="/user"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mon compte</font></font></a>
      <a class="dropdown-item" href="/logout"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Déconnexion</font></font></a>
    </div>
  </div>
</div>
   {# <form class = "form-inline my-2 my-lg-0">
      <input class = "form-control mr-sm-2" type = "text" placeholder = "Search">
      <button class = "btn btn-secondary my-2 my-sm-0" type = "submit"> Rechercher </button>
    </form>
  </div> #}  
</nav>
</div>